.miniatura {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    float:right;
    display:block;
  z-index:999;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.miniatura:hover{
    transform: scale(1.1);
}