body {
    background-color: whitesmoke;
}

h1 {
    font-family: "Cinzel Decorative";
    font-size: 65px;
    color: #146dc0;
    text-align: center;

}

h3 {
    font-family: "Cinzel Decorative";
    font-size: 24px;
    color: #04AA6D;
    text-align: center;

}

h2 {
    font-family: "Cinzel Decorative";
    font-size: 30px;
    color: #04AA6D;
    text-align: center;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-left: 15%;
    padding-right: 10%;
}

.menu2 {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    position: fixed;
    top: 0;
    width: 8.7%;
    padding-bottom: 100%;
    float: right;
}

.menu2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Cinzel Decorative";
    font-size: 14px;
    font-weight: 500;
}

.menu2 li a:hover {
    background-color: #111;
}

.div-corpo{
    margin-top: 5%;
}