form {
    width: 300px;
    max-height: 500px;
    background-color: #333;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
margin-left: 40%;}

form h3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

form input[type=text],
form input[type=password],
input[type=email] {
    width: 100%;
    height: 45px;
    border: 1px solid whitesmoke;
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #333;
    color: white;
    border-radius: 8px;

}

form input[type=submit] {
    width: 50%;
    height: 30px;
    cursor: pointer;
    background-color: #146dc0;
    color: white;
    font-family: "Cinzel Decorative";
    font-size: 20px;
    font-weight: 900;
    border: 0;
    text-align: center;
    border-radius: 8px;
    margin-left: 2px;
}

@media all and (max-width: 600px) {
    form {
        margin-left: 10%;
    }}
