.centralizador {
    text-align: center;
    margin-bottom: 50px;

}

.mapa {
    height: 700px;
    width: 1400px;
    display: flex;
}

.miniatura {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    float: right;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.miniatura:hover {
    transform: scale(1.1);
}


iframe {
    height: 600px;
    width: 1000px;
    display: block;
    border: 2px solid #146dc0;
    margin-left: 125px;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #146dc0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Cinzel Decorative";
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    margin-left: -120px;
}

#reset:hover {
    background-color: #04AA6D;
    transform: scale(1.1);
}


@media all and (max-width: 600px) {
    .miniatura {
        height: 150px;
        width: 150px;
    }
iframe{
    height: 300px;
    width: 400px;
    margin-left: -50px;
    
}

#reset{
    margin-left: ;
}
}