.topnav{
	overflow: hidden;
	background-color: #333;
	font-family: "Cinzel Decorative";
	font-weight: 900;
}
.topnav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 900;
	display: block;
padding-right: 47px;}

.topnav a:last-child{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: none;
	
} 
.active{
	background-color: #04AA6D;
	color: white;
	
	
}
.topnav .icon{
	display: none;
}
.dropdown{
	float: left;
}
.dropdown .dropbtn{
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	
}
.dropdownsub{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 10px 18px 26px 10px rgba (0,0,0,0.2);
	
}
.dropdownsub a{
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	
}


@media screen and (max-width: 750px){
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.topnav a.icon{
		float: right;
		display: block;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive .icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive .dropdown{
		float: none;
	}
	.topnav.responsive .dropdownsub{
		position: relative;
	}
	.topnav.responsive .dropdown .dropbtn{
		display: block;
		width: 100%;
		text-align: left;
	}
	 
}