.topnav2{
	overflow: hidden;
	background-color: #333;
	font-family: "Cinzel Decorative";
	
}
.topnav2 a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
	padding-right: 14px;
}
.topnav2 a:last-child{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: none;
	
} 
.active2{
	background-color: #146dc0;
	color: white;
}
.topnav2 .icon{
	display: none;
}
.dropdown{
	float: left;
}
.dropdown .dropbtn{
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	
	
}
.dropdownsub{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 120px;
	box-shadow: 10px 18px 26px 10px rgba (0,0,0,0.2);
	
}
.dropdownsub a{
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	
}
.topnav2 a:hover, .dropdown:hover{
	background-color: #555;
	color: white;
}
.dropdownsub a:hover{
	background-color: #ddd;
	color: black;
	
}
.dropdown:hover .dropdownsub{
	display: block;
	
}

@media screen and (max-width: 750px){
	.topnav2 a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.topnav2 a.icon{
		float: right;
		display: block;
	}
	.topnav2.responsive{
		position: relative;
	}
	.topnav2.responsive .icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav2.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.topnav2.responsive .dropdown{
		float: none;
	}
	.topnav2.responsive .dropdownsub{
		position: relative;
	}
	.topnav2.responsive .dropdown .dropbtn{
		display: block;
		width: 100%;
		text-align: left;
	}
}