table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  table-layout: fixed;
  /* Importante para a responsividade */
}

th,
td {
  padding: 4px;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  border: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Adiciona reticências quando o texto está muito longo */
  word-wrap: break-word;
  /* Permite que o texto quebre em colunas */
}

/* Estilização do cabeçalho da tabela */
thead {
  background-color: #333;
  color: #fff;
}

th {
  font-weight: bold;
}

/* Estilização das linhas pares e ímpares da tabela */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilização quando o mouse passa por cima de uma linha */
tbody tr:hover {
  background-color: #ddd;
}

.imagem {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {

  th,
  td {
    padding-right: -10px;
    /* Reduz ainda mais o espaço nas células */
    font-size: 10px;
    margin-right: -10px;
    font-size: 12px;
    word-wrap: break-word;
    /* Permite que o texto quebre em colunas */
  }

  .imagem {
    height: 50px;
    width: 50px;
    border-radius: 100px;
  }
}