/*A box-sizing propriedade CSS permite incluir o preenchimento e a 
borda na largura e altura total de um elemento. 
* {
  box-sizing: border-box;
}
O código garante que todos os elementos sejam dimensionados dessa 
maneira mais intuitiva. 
*/
* {
  box-sizing: border-box;
}
main{
	width: 100%;
	height: auto;
}

/*header - define um cabeçalho para um documento ou seção */
header {
	width: 100%;
	height: 300px;
    background-image:  url("../imagens/starfundo.jpg");
	padding-bottom: 50px;
	border-radius: 6px;
	
}
/*incluir essa parte no código */
/*
#divcorpoheader{
	width: 100%;
	height: auto;
	float:left;
}
*/
#divesqheader{
	width: 30%;
	height: auto;
	padding-left: 20px;
	padding-top: 50px;	
	float:left;
}
#divmeioheader{
	width: 70%;
	height: 300px;
	text-align: center;
	color: white;
	position: relative;
	float:left;
	padding-top: 120px;
	font-size: 34px;
}


/*nav - Define um contêiner para links de navegação */
nav {
  
  width: 100%;
  height: 80px; 
  padding: 1px;
}


/*article - Define um artigo independente e independente*/
article {
  padding: 10px;
  width: 95%;
  background-color: #f1f1f1;
  height: auto;
  margin: 0 auto;
  border-radius: 6px;
  
  
}

/* Clear floats after the columns 
section:after {
  content: "";
  display: table;
  clear: both;
}
*/

/* footer - define um rodapé para um documento ou seção */
footer {
  padding: 10px;
  width: 100%;
  height: 200px;
  background-color: black;
  border-radius: 6px;
  
}
#divesqfooter{
	width: 50%;
	height: auto;
	padding-top: 10px;	
	float:left;
}
#divmeiofooter{
	width: 50%;
	height: auto;
	text-align: right;
	color: blue;
	float:left;
	padding-top: 30px;
	font-size: 16px;
	font-family: arial black;
}

/* A @media regra é usada em consultas de mídia para aplicar estilos 
diferentes para diferentes tipos / dispositivos de mídia.
Layout responsivo - faz as duas colunas / caixas empilharem sobre
um ao outro em vez de um ao lado do outro, em telas pequenas
max-width: 600px - A largura máxima da área de exibição, 
como uma janela do navegador 
..................
Uma media query consiste de um media type e pelo menos uma expressão 
que limita o escopo das folhas de estilo usando media features, 
tal como largura, altura e cor. Media queries, adicionadas no CSS3, 
deixam a apresentação do conteúdo adaptado a uma gama especifica de 
dispositivos não precisando mudar o conteúdo em si

all - Padrão. Usado para todos os dispositivos do tipo de mídia
screen - Usado para telas de computador, tablets, smartphones etc.
speech - Usado para leitores de tela que "lêem" a página em voz alta
exemplo como link
<link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">

max-width - A largura máxima da área de exibição, como uma janela do navegador
min-width - A largura mínima da área de exibição, como uma janela do navegador

@media only screen and

*/

@media all and (max-width: 1300px) {
 main, nav, article {
    width: 100%;
    height: auto;
  }  
}
/*acrescentar essa parte no código  */
@media all and (max-width: 980px) {
 header {
    width: 100%;
    height: 300px;
  }  
/*
#divcorpoheader{
	width: 100%;
	height: auto;
	float:left;
}
*/
	#divesqheader{
		width: 100%;
		height: auto;
		padding-left: 20px;
		padding-top: 20px;	
		float:left;
	}
	#divmeioheader{
		width: 100%;
		height: 50px;
		text-align: center;
		color: white;
		position: relative;
		float:left;
		padding-top: 20px;
		font-size: 34px;
	}
}

@media all and (max-width: 650px) {
	#divesqfooter{
		width: 100%;
		height: auto;
		padding-top: 20px;	
		
	}
	#divmeiofooter{
		width: 100%;
		height: auto;
		text-align: left;
		color: blue;
		padding-top: 20px;
		font-size: 16px;
		font-family: arial black;
	}
	
}
